.ta-start-page {
  background-image: url("../../../../../../../apps/takeaway/resources/images/Kiwi+Mar+Hor.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  scroll-margin: 47px;
  height: 90vh;
  color: white;
}